<ng-container
        *ngIf="category && price && completeByDate && status; else skeletonCard">
  <div class="pt-3 pl-3 pr-3 pb-3 mb-3 lg:w-50 md:w-50 sm:w-full lg:rounded md:rounded ml-auto mr-auto shadow-md bg-white"
       style="height: 175px;">
    <div class="flex justify-between">
      <p class="text-sm font-semibold">
        1:00pm - 1:45pm, Tue, Oct. 8
      </p>
      <p *ngIf="distance" class="text-sm font-bold text-green-600">
        {{distance}} mi
      </p>
    </div>
    <div class="mt-8 flex justify-between">
      <div>
        <h1 class="font-semibold text-2xl">{{category}}</h1>
      </div>
      <div class="inline-flex" style="line-height: 1.87rem">
        <ion-icon class="mr--1 mt-2 text-xl font-medium" src="assets/icon/interface/dollar-symbol.svg"></ion-icon>
        <div class="font-semibold text-4xl">{{price}}</div>
      </div>
    </div>
    <div class="mt-12 flex justify-between">
      <div class="inline-flex">
        <div *ngIf="jobStatus.name !== 'Complete'; else completeIndicator" class="h-5 w-5 bg-{{jobStatus.color}}-500 rounded-full"></div>
        <ng-template #completeIndicator>
          <ion-icon class="text-green-700 text-xl" src="assets/icon/interface/motivation.svg"></ion-icon>
        </ng-template>
        <p class="text-sm pl-1 font-semibold">
          {{jobStatus.name}}
        </p>
      </div>
      <div class="inline-flex" *ngIf="jobStatus.name === 'Available'">
        <ion-icon src="assets/icon/interface/eye.svg" class="text-xl pr-2"></ion-icon>
        <p class="text-sm font-semibold">{{views}} views</p>
      </div>
      <div class="inline-flex" *ngIf="jobStatus.name !== 'Complete'">
        <ion-icon src="assets/icon/interface/wall-clock.svg" class="text-xl pr-2" color="primary"></ion-icon>
        <p class="text-sm font-semibold">{{time}} min</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #skeletonCard>
  <div class="ml-auto mr-auto pb-3 mb-3 w-full lg:w-50 md:w-50 lg:rounded md:rounded" style="height: 175px">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
</ng-template>
