<ion-tabs>
  <div class="bg-white inline-flex h-1 w-full border-t border-gray-400">
    <div routerLink="/app/home" routerLinkActive="active" class="indicator focus:outline-none"></div>
    <div routerLink="/app/search" routerLinkActive="active" class="indicator focus:outline-none"></div>
    <div routerLink="/app/notifications" routerLinkActive="active" class="indicator focus:outline-none"></div>
  </div>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/interface/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon src="assets/icon/interface/search.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon src="assets/icon/interface/bell.svg"></ion-icon>
      <span class="border-2 border-white absolute block h-4 w-4 transform -translate-y-1/2 translate-x-1/2 rounded-full text-white shadow-solid bg-red-400" style="transform: translate(0.7rem, -0.5rem)"></span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
