<ion-tabs>
  <div class="bg-white inline-flex h-1 w-full border-t border-gray-400">
    <div routerLink="/app/home" routerLinkActive="active" class="indicator focus:outline-none"></div>
    <div routerLink="/app/search" routerLinkActive="active" class="indicator focus:outline-none"></div>
    <div routerLink="/app/notifications" routerLinkActive="active" class="indicator focus:outline-none"></div>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/interface/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon src="assets/icon/interface/search.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon src="assets/icon/interface/bell.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
