<nav class="bg-white border-b border-gray-400">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex justify-between h-16">
      <ng-content></ng-content>
    </div>
  </div>
  <!--
   Announcement area
  -->
  <div *ngIf="announcement" class="relative bg-{{announcement.color}}-600">
    <div class="max-w-screen-xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="pr-8 sm:text-center sm:px-16">
        <p class="font-medium text-white">
          <span>
            {{announcement.message}}
          </span>
          <span *ngIf="announcement.link" class="block sm:ml-2 sm:inline-block">
            <a href="{{announcement.link}}" class="text-white font-bold underline">
              Learn more &rarr;
            </a>
          </span>
        </p>
      </div>
      <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
        <button (click)="dismissAnnouncement()" type="button"
                class="flex p-2 rounded-md hover:bg-{{announcement.color}}-500 focus:outline-none focus:bg-{{announcement.color}}-500 transition ease-in-out duration-150"
                aria-label="Dismiss">
          <!-- Heroicon name: x -->
          <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
