<gig-header>
  <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      <!-- chat button -->
      <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
        <img class="block h-5 w-5" src="assets/icon/interface/chat.svg" alt="chat button" />
      </button>
    </div>
    <div class="flex-shrink-0 flex items-center">
      <h5 class="block text-black font-medium">
        Notifications
      </h5>
    </div>
    <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
      <!-- User account button -->
      <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
        <img class="block h-5 w-5" src="assets/icon/interface/user.svg" alt="user account button" />
      </button>
    </div>
  </div>
</gig-header>
<gig-toolbar>
  <button (click)="feed = 'all'" [ngClass]="feed === 'all' ? 'active' : ''" class="w-50 h-full text-center focus:outline-none">
    All
  </button>
  <button (click)="feed = 'unread'" [ngClass]="feed === 'unread' ? 'active' : ''" class="w-50 h-full text-center focus:outline-none">
    Unread
  </button>
</gig-toolbar>
<ion-content>
  <ng-container *ngIf="notifications; else noNotifications"></ng-container>
  <ng-template #noNotifications>
    <img src="assets/undraw/undraw_inbox_cleanup_w2ur.svg" class="no-notifications" alt="No notifications" />
  </ng-template>
</ion-content>
