<gig-header>
  <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      <!-- Search filter button -->
      <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <img class="block h-6 w-6" src="assets/icon/interface/filter.svg" alt="filter button" />
      </button>
    </div>
    <div class="flex-shrink-0 flex items-center">
      <h5 class="block text-black font-medium">
        Search
      </h5>
    </div>
    <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
      <!-- User account button -->
      <button (click)="router.navigateByUrl('/app/search/account')" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <img class="block h-6 w-6" src="assets/icon/interface/user.svg" alt="user account button" />
      </button>
    </div>
  </div>
</gig-header>
<gig-toolbar>
  <div class="w-full text-center">
    <div class="m-3 relative rounded-md shadow-sm">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <img class="h-5 w-5 text-gray-200" src="assets/icon/interface/search.svg" alt="search icon" />
      </div>
      <input id="search" type="search" class="form-input block w-full pl-10 sm:text-sm sm:leading-5 outline-none focus:shadow-outline" placeholder="Search anything...">
    </div>
  </div>

</gig-toolbar>
<ion-content>
  <ng-container *ngIf="results; else noResults"></ng-container>
  <ng-template #noResults>
    <img src="assets/undraw/undraw_searching_p5ux.svg" class="no-search-results" alt="No results" />
  </ng-template>
</ion-content>
