/* --- Extra custom tailwind utilities --- */
::ng-deep .w-50 {
  width: 50%;
}

::ng-deep .mt-28 {
  margin-top: 7rem;
}

@media (min-width: 768px) {
  ::ng-deep .md\:w-50 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  ::ng-deep .lg\:w-50 {
    width: 50%;
  }
}

::ng-deep .top-50 {
  top: 50%;
}

::ng-deep .z-102 {
  z-index: 102;
}

::ng-deep .mr--1 {
  margin-right: -0.25rem;
}
/* --- End extra custom tailwind utilities --- */
