/* --- Extra custom tailwind utilities --- */
::ng-deep .w-50 {
  width: 50%;
}

::ng-deep .mt-28 {
  margin-top: 7rem;
}

@media (min-width: 768px) {
  ::ng-deep .md\:w-50 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  ::ng-deep .lg\:w-50 {
    width: 50%;
  }
}

::ng-deep .top-50 {
  top: 50%;
}

::ng-deep .z-102 {
  z-index: 102;
}

::ng-deep .z-103 {
  z-index: 103;
}

::ng-deep .mr--1 {
  margin-right: -0.25rem;
}

::ng-deep .bg-primary {
  background: var(--ion-color-primary);
}

::ng-deep .form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: .375rem;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}
/* --- End extra custom tailwind utilities --- */
