@import "../theme/tailwind-extra";

::ng-deep gig-toolbar {
  .active {
    border-bottom: 0.2rem solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }
  button {
    border-bottom: 0.2rem solid white;
  }
}

::ng-deep .form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: .375rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.5;
}


@keyframes fadeout {
  from {
    opacity: 100%;
    display: initial;
  }
  to {
    opacity: 0;
    display: none;
  }
}

::ng-deep .fade-out {
  animation-name: fadeout;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 100%;
    display: inherit;
  }
}

::ng-deep .fade-in {
  animation-name: fadein;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

::ng-deep ion-item {
  --inner-padding-end: 0;
  height: 71px;
  line-height: 2.8;
  ion-label {
    font-weight: 500;
    font-size: 18px!important;
  }
  ion-icon {
    font-size: 24px;
  }
}
