<gig-header>
  <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      <!-- Marketplace filter button -->
      <button (click)="openFilterModal()" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <img class="block h-6 w-6" src="assets/icon/interface/filter.svg" alt="filter button" />
      </button>
    </div>
    <div class="flex-shrink-0 flex items-center">
      <h5 class="block text-black font-medium">
        Marketplace
      </h5>
    </div>
    <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
      <!-- User account button -->
      <button (click)="navCtrl.navigateForward('/app/home/account')" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
        <img class="block h-6 w-6" src="assets/icon/interface/user.svg" alt="user account button" />
      </button>
    </div>
  </div>
</gig-header>
<gig-toolbar>
  <button (click)="feed = 'all'" [ngClass]="feed === 'all' ? 'active' : ''" class="w-50 h-full text-center focus:outline-none">
    All Jobs
  </button>
  <button (click)="feed = 'me'" [ngClass]="feed === 'me' ? 'active' : ''" class="w-50 h-full text-center focus:outline-none">
    My Jobs
  </button>
</gig-toolbar>
<ion-content>
  <ion-refresher [disabled]="!myJobs && !allJobs" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="assets/icon/interface/loading.svg"
            pullingText=""
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container [ngSwitch]="feed">
    <ng-container *ngSwitchCase="'all'">
      <ng-container *ngIf="allJobs; else skeletonJobs">
        <ng-container *ngIf="allJobs.length > 0; else noJobsAvailable">
          <gig-job-card
                  *ngFor="let job of allJobs"
                  [id]="job.id"
                  [category]="job.category.name"
                  [completeByDate]="job.complete_before"
                  [price]="job.price"
                  [views]="job.views"
                  [distance]="job.distance_away"
                  [status]="job.job_status"
                  [intensity]="job.job_intensity"
          ></gig-job-card>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'me'">
      <ng-container *ngIf="myJobs; else skeletonJobs">
        <ng-container *ngIf="myJobs.length > 0; else noJobsAvailable">
          <gig-job-card
                  *ngFor="let job of myJobs"
                  [id]="job.id"
                  [category]="job.category.name"
                  [completeAtDate]="job.status === 'Complete' ? job.proposals[0].completed_at : null"
                  [completeByDate]="job.complete_before"
                  [price]="job.price"
                  [views]="job.views"
                  [distance]="job.distance_away"
                  [status]="job.job_status"
                  [intensity]="job.job_intensity"
          ></gig-job-card>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #skeletonJobs>
      <gig-job-card *ngFor="let job of [1, 2, 3]"></gig-job-card>
    </ng-template>
    <ng-template #noJobsAvailable>
      <img src="assets/undraw/undraw_no_data_qbuo.svg" class="no-jobs-available" alt="No jobs available" />
      <div class="w-full absolute text-center top-50">
        <label class="text-gray-800">No jobs available</label>
      </div>
    </ng-template>
  </ng-container>
</ion-content>
